﻿.bookshelf {
            background-image:url(/images/bookshelf.jpg)
        }

        .textbackground {
          text-shadow: 0 0 2px #fff; /* horizontal-offset vertical-offset 'blur' colour */
          -moz-text-shadow: 0 0 4px #fff;
          -webkit-text-shadow: 0 0 4px #fff;
        }