﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="WebApplication1.About1" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    
    <hgroup class="title">
        <h1><%: Title %></h1>       
    </hgroup>

    <p>&nbsp;</p>

    <p><b>Phone: </b>(07) 3138 2000</p>
    <p><b>Email: </b><span><a href="mailto:MooseKnuckles90@gmail.com">MooseKnuckles90@gmail.com</a></span></p>
    <p><b>Address: </b>2 Georage St, Brisbane QLD 4000</p>
    
   
    <p>&nbsp;</p>
    <p>&nbsp;</p>

</asp:Content>