﻿<%@ Page Title="TextShare" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication1._Default" %>



<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">




<div class="text-center" >      
        &nbsp;<img src="images/TS2.jpg", style="display: block;
    margin: 0 auto;"/>
        <h1 class="text-center"> Welcome to TextShare </h1>
        <p class="text-center">Your one stop, go-to place to share your text books! </p> 
</div>

   

 


    </asp:Content>
